<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje stavke racuna</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija stavke racuna: {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje stavke racuna: {{data.id}}</h3>
  
    <form class="mat-dialog-content"  #formControl="ngForm">
  
      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.proizvod" placeholder="Proizvod" name="proizvod" [compareWith]="compareTo" [disabled]="flag == 3">
            <mat-option *ngFor="let proizvod of proizvodi" [value]="proizvod">
              {{ proizvod.naziv }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Količina" [(ngModel)]="data.kolicina" name="kolicina" [disabled]="flag == 3">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Jedinica mere" [(ngModel)]="data.jedinicaMere" name="jedinicaMere" [disabled]="flag == 3">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Cena" [(ngModel)]="data.cena" name="cena" [disabled]="flag == 3">
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="addStavkaRacuna()">Sačuvaj</button>
        <button mat-button *ngIf="flag == 2"  [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="updateStavkaRacuna()">Sačuvaj</button>
        <button mat-button *ngIf="flag == 3"  [mat-dialog-close]="1" (click)="deleteStavkaRacuna()">Obriši</button>
        <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
      </div>
    </form>
  </div>